*{
box-sizing: border-box;
margin: 0;
padding: 0;
}

html {
    height: 100%;
}

body {
    background-color: black;
    min-height: 100%;
}

.main >*{
    text-align: center;
}

.main {
    display: grid;
    align-items: center;
}